/* VARIABEL GLOBAL */
:root {
    --panel-width-collapsed: 40px;
    --panel-width-expanded: calc(100vw - 80px);
    --content-max-width: calc(100vw - 200px);
}

/* ATUR SCROLLBAR */
html, body {
    overflow: auto;          /* tetap bisa scroll */
    scrollbar-width: none;   /* Firefox */
    -ms-overflow-style: none; /* IE dan Edge lama */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge baru */
}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge baru */
}
.family-tree {
    overflow-y: auto;          /* tetap bisa scroll */
    scrollbar-width: none;   /* Firefox */
    -ms-overflow-style: none; /* IE dan Edge lama */
}
.family-tree::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge baru */
}

/* ATUR PRIVASI */
img {
  pointer-events: none; 
  user-select: none;
  -webkit-user-drag: none;
}


/* ATUR BODY DAN GRID */
body {
    margin: 0;
    font-family: "Times New Roman", serif;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    height: 100svh;
    background-color: white;
}


/* BAGIAN KONTEN */
.content-title img {
    padding-top: 2svh;
    width: 20px;
    height: auto;
}

.content-title{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100svh;
    align-items: center;
    justify-items: center;
}

.content-section {
    display: none; 
}

.content-section.active {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: var(--content-max-width);
    margin: auto;
    transition: all 1s ease;
}

.panel {
    display: grid;
    grid-template-columns: 40px 1fr;
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s ease;
}

.panel:hover {
    filter: brightness(1.2);
}

.panel.active {
    filter: brightness(1.15);
    width: calc(100vw - 80px);
    transition: all 1s ease;
    cursor: default;
}

.home { background-color: #ffffff; }
.family { background-color: #f55449; }
.history { background-color: #f4b000; }

.judul {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: black;
    transform: rotate(0deg);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
}
.panel.active .judul {
    display: none;
}


/* DESAIN BAGIAN FAMILY TREE */
.family-tree {
    display: none;
    opacity: 0;
}
.family-tree.active {
    display: grid;
    opacity: 1;
    grid-template-rows: 3rem repeat(3, clamp(50px, 10vw, 125px));
    height: calc(100svh - 40px);
    width: var(--content-max-width);
    padding: 20px 0;
    text-align: start;
    justify-items: center;
    overflow-y: auto;
}
.family-tree h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;
    margin: 0;
}

.layer1 img {
    width: clamp(10px, 10vw, 125px);
}
.layer2 img {
    width: clamp(5px, 8vw, 100px);
}
.layer2 {
    display: grid;
    grid-template-columns: repeat(4, clamp(5px, 18vw, 220px));
    gap: 1vw;
    justify-items: center;
}

/* DESAIN BAGIAN HISTORY */

/* DESAIN BAGIAN HOME */
.welcome.active{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}
.welcome h1 {
    font-size: clamp(2rem, 10vw, 8rem);
    margin: 0;
}
.welcome p {
    font-size: clamp(0.5rem, 2vw, 1.2rem);
    margin: 0;
    max-width: 60vw;
}